In [1]:
name = "Chandan HA"
phrase = "Chandan is from Hadya "

In [2]:
# Print entire string
print(name)

Chandan HA

In [3]:
# finding length of the string
print(len(name))

10

In [4]:
# indexing individual character
print(name[3])

n

In [5]:
# slicing a string to required index
print(name[8:10])

HA

In [6]:
# slicing a string : indicates from start of the string ie Oth index and end at range 7 ie 6th index
print(name[:7])

Chandan

In [7]:
# slicing a string 8 indicates start from 7th index and : indicates up to the last index of the string
print(name[8:])

HA

In [8]:
# Print from starting to end index of the string
print(name[::])

Chandan HA

In [9]:
# Printing the indivisual index of the string
print(name[0], name[8], name[9])

C H A

In [10]:
place = "Nanjangud Mysuru"

In [11]:

print(place[8:11])

d M

In [12]:
print(place[8], place[10])

d M

In [13]:
# indicates from start and end
print(place[::])

Nanjangud Mysuru

In [14]:
# print the string in reverse order
print(place[::-1])

urusyM dugnajnaN

In [15]:
# print the string in reverse order skip one index after printing one index
print(place[::-2])

uuy unja

In [16]:
# print the string in reverse order skip two indexs after printing one index
print(place[::-3])

us gjN

In [17]:
a = "Hello !"
b = "Prime Intuit"
c = "one of the Finest Finishing School"
print(a[::])
print(a[::-1])
print(a[::+2])

Hello !
! olleH
Hlo!

In [18]:
# concatenation using two string
d = a+" "+b 
print(d)

# concatenation using two string with indexing
e = a+" "+b+" "+c[11:] 
print(e)

Hello ! Prime Intuit
Hello ! Prime Intuit Finest Finishing School

In [19]:
# multiply operator

word = "Courage "
print(word*3)
print("Tiger "*7)

Courage Courage Courage
Tiger Tiger Tiger Tiger Tiger Tiger Tiger

In [20]:
# Some membership operators (in and not in)

courage = "Courage that Build the Confidence to do good things"

# one string and one variable
print("Confidence" in courage)

print("Fear" in courage)


print("good" and "things" in courage)

print("2" in "XF54236RF258") # two string

True
False
True
True

In [21]:
f = "that"
print(f in courage)

# not in
print("Build" not in courage)
print("Lion" not in courage)

True
False
True

In [23]:
# new line \n
print("Our Perception is our Reality \nWhat We Think we Become \nYadbavam Tadbavathi")

Our Perception is our Reality
What We Think we Become
Yadbavam Tadbavathi

In [24]:

# Formating, %, Format - perform string formating
print("My name is %s and I weigh %d"%("Chandan", 71))

My name is Chandan and I weigh 71

In [25]:
name = "Chandan"
cgpi = 8.77
print("The certificate is issued to \n" "Mr %s \nHe has scored CGPI of %2f "%(name, cgpi))
print("The certificate is issued to " "Mr %s \nHe has scored CGPI of %2f "%(name, cgpi))

The certificate is issued to
Mr Chandan
He has scored CGPI of 8.770000
The certificate is issued to Mr Chandan
He has scored CGPI of 8.770000

In [26]:
# Formating using f string
var_1 = "Major"
var_2 = "You"
print(f"The {var_1} Key to Your Better Future is {var_2}")

The Major Key to Your Better Future is You

In [27]:
# String Functions

a = "   today is sunday"
x = "the sea is calm today"
y = "Wild and free also means mad and unpredictable"
fruits = "i love apples and apples are my favorite fruits"
z = "CONSISTENCY"
pi = " PRIME INTUIT "
num = "012345679"
num1 = "345 4 5"
box1 = "df5db48"
box2 = "dfbdb"
box3 = "ajnf97c js9"
box4 = "as df sv"
list1 = ["one", "two", "three", "four", "five"]
list2 = ["six", "seven", "eight"]
box6 = "8 9 7"

In [28]:
# convert first character of a string to upper character
print(x.capitalize())

The sea is calm today

In [29]:
# entire string is converted in to upper case
print(x.upper())

THE SEA IS CALM TODAY

In [30]:
# entire string is converted in to lower case
print(z.lower())

consistency

In [31]:
# will return true if all the characters are upper case
print(z.isupper())

True

In [32]:
# will return false if any one of the character is upper case
print(y.islower())

False

In [33]:
# position the string in the center
print(len(pi))
print(pi.center(20,"%"))

14
%%% PRIME INTUIT %%%

In [35]:
# return true if sting contain only alfabet and neumaric without space
print(box1.isalnum())
print(box2.isalnum())
print(box3.isalnum())

True
True
False

In [36]:
# return true if sting contain only alfabet without space
print(box2.isalpha())
print(box4.isalpha())

True
False

In [37]:
# return true if sting contain only numeric without space
print(num.isdigit())
print(num1.isdigit())

True
False

In [38]:
# returns the number of times a specified value occurs in the string
print(fruits.count("apple"))

2

In [39]:
# returns the encoded version of the string
print(x.encode())

b'the sea is calm today'

In [40]:
# returns true if string ends with specified value
print(a.endswith("y"))

True

In [41]:
# search the string for the specified value and returns starting index position of where it was found
print(y.find("free"))
print(fruits.find("a"))

9
7

In [42]:
# return true if sting contain only alfabet without space
print(box2.isalpha())
print(box4.isalpha())

True
False

In [44]:
# search the string for the specified value and returns starting index position of where it was found
print(y.find("free"))
print(fruits.find("a"))
print(fruits.find("and"))

9
7
14

In [45]:
# format specified value in a string and place it inside the string placeholder
txt1 = "for only {price:.2f} dollars!"
print(txt1.format(price = 49))

for only 49.00 dollars!

In [46]:
# search the string for the specified value and returns the position of where it was found
print(fruits.index("are"))

box5 = "919498"
box6 = "8 9 7"
box7 = "sdv343j34"

25

In [47]:
# returns true if all the character s in the string are decimal
print(box5.isdecimal())
print(box6.isdecimal())
print(box7.isdecimal())

True
False
False

In [48]:
# returns true if all the character s in the string are numeric
print(box5.isnumeric())
print(box6.isnumeric())
print(box7.isnumeric())

True
False
False

In [49]:
# returns true if string contain only white space
box8 = "  "
print(box8.isspace()) 
print(box6.isspace())

True
False

In [50]:
# returns the left trim version of a string
print(a)
print(a.lstrip())

   today is sunday
today is sunday

In [51]:
# joins the elements of the iterable with specified character to form a string
myTuple = ("apple", "mango", "grapes")
print("&".join(myTuple))

apple&mango&grapes

In [52]:
abc = "   today is sunday    "
print(abc.strip())

today is sunday

In [53]:
# count the number of times in a character occurring in string
print(x.count("a"))

3

In [54]:
# count the number of times in substring occurring in string
print(y.count("free"))
print(y.count("apples"))
print(fruits.count("apples"))

1
0
2

In [55]:
# return true if string contains only spaces
print("   ".isspace())

True

In [56]:
# return true if string contains only spaces
print("  hbhxb ".isspace())

False

In [57]:
list1 = ["one", "two", "three", "four", "five"]
list2 = ["six", "seven", "eight"]

# joins the elements of the iterable with specified character to form a string
print("_".join(list1))
print(" ".join(list1))
print("&".join(list1[:3]))

one_two_three_four_five
one two three four five
one&two&three