In [1]:
# Creating a Tuple
t1 = (1, 2, "three", "four", 5.5)
t2 = t1[:1]
print(t1)
print(t2)

(1, 2, 'three', 'four', 5.5)
(1,)

In [2]:
# Joining 2 tuples
print(t1+t2)

(1, 2, 'three', 'four', 5.5, 1)

In [4]:
# tuple in Python is immutable.
# Not Supported function

In [6]:
# Joining 2 tuples to create a new tuple
t3 = (t1+t2)
print(t3)

(1, 2, 'three', 'four', 5.5, 1)

In [8]:
# Error : updating a tuple is not possible

t4 = (10, 22, 33, 54, 57)
t4[1] = 12

TypeError: 'tuple' object does not support item assignment

In [10]:
# Error : appending a tuple is not possible

t4 = (10, 22, 33, 54, 57)
t4.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
# Error : tuple object has no attribute return or pop

t4 = (10, 22, 33, 54, 57)
t4.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [12]:
# tuple does not support item deletion

t4 = (10, 22, 33, 54, 57)
del(t4[0])

TypeError: 'tuple' object doesn't support item deletion

In [13]:
# if a tuple contains mutable elements like lists, the mutable elements themselves can be changed.

nested_tuple = (1, 2, [3, 4])
nested_tuple[2][0] = 30  # This is allowed
print(nested_tuple)  # Output: (1, 2, [30, 4])

(1, 2, [30, 4])

In [ ]:
# Deleting tuple is allowed

del(t3)

In [15]:
# will print the length of the object
print(len(t1))

5

In [16]:
# membership operator will return ture if item present in th etuple
print(2 in t1)

True

In [17]:
t4 = (3, 5, 7, 11, 21, 9)
# will return the minimum of tuple
print(max(t4))

21

In [18]:
# will return the maximum of tuple
print(min(t4))

3

In [19]:
for i in t4:
    print(i**2, end=' ')
print()

for i in t1:
    print(i , end=' ')
print()

9 25 49 121 441 81
1 2 three four 5.5

In [21]:
print(t4)
# printing a tuple multiple times
print(t4*2)

(3, 5, 7, 11, 21, 9)
(3, 5, 7, 11, 21, 9, 3, 5, 7, 11, 21, 9)

In [22]:
# Creating a tuple using range function with increment
t5 = tuple(range(0, 20, 2))
print(t5)

t6 = tuple(range(0, 31, 3))
print(t6)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)
(0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30)