In [1]:
print()
print("PYTHON COLLECTION ARRAYS")
print()
print("There are four collection data types in the python programing language")
print()
print("-> LIST - is a collection which is ordered and changeable. allows duplicate members.")
print("-> TUPLE - is a collection which is ordered and unchangeable. allows duplicate members.")
print("-> SET - is a collection which is unordered, unchangeable and unindexed. no duplicate members.")
print("-> SET - is a collection which is ordered and changeable. no duplicate members.")

PYTHON COLLECTION ARRAYS

There are four collection data types in the python programing language

-> LIST - is a collection which is ordered and changeable. allows duplicate members.
-> TUPLE - is a collection which is ordered and unchangeable. allows duplicate members.
-> SET - is a collection which is unordered, unchangeable and unindexed. no duplicate members.
-> SET - is a collection which is ordered and changeable. no duplicate members.

In [3]:
#1) ==>> Break Continue Pass Example

# Break

for i in range(1, 5):
    if i == 3:
        break
    print(i)

1
2

In [4]:
for i in range(1, 5):
    print(i)
    if i == 3:
        break

1
2
3

In [5]:
# Continue

for i in range(1, 5):
    if i == 3:
        continue
    print(i)

1
2
4

In [6]:
# Pass

for i in range(1, 5):
    pass

In [7]:
for i in range(1, 10):
    if i % 2 == 0:
        pass
    else:
        print(i, end=' ')

1 3 5 7 9

In [8]:
#2) ==>> Palindrome or Not


x = int(input("Enter a Number : "))
x = str(x)
y = int(x[::-1])
x = int(x)
if y == x:
    print("The entered number", x, "is palindrome", type(x))
else:
    print("The entered number", x, "is not palindrome", type(x))

The entered number 5 is palindrome <class 'int'>

In [9]:
#3) ==>> # Creating a list from input and Entering the Elements in List and sort
         # them in to another 2 list which are prime numbers and not prime numbers.


length = int(input("Enter the length of the list : "))
l3 = []
x = 1
while(x <= length):
    y = int(input("Enter the list element : "))
    l3.append(y)
    x = x + 1
print(l3)
l4 = []
l5 = []
l6 = []
for i in l3:
    if i == 1:
        l6.append(1)
    elif i > 1:
        for j in range(2, i):
            if i % j == 0:
                l4.append(i)
                break
        else:
            l5.append(i)
    else:
        l4.append(i)
print(l4, "are not prime numbers")
print(l5, "are prime numbers")
print(l6, "1 is Neither prime nor Composite")

[20, 30, 60]
[20, 30, 60] are not prime numbers
[] are prime numbers
[] 1 is Neither prime nor Composite

In [11]:
# 4) Extract Each Digit of an integer in reverse order

num1 = int(input("Enter a Number : "))
while num1 > 0:
    d = num1 % 10
    num1 = num1 // 10
    print(d, end =" ")
print()

5 6 5 2

In [12]:
# 5) 5 Star Pattern

num = 5
for i in range(num):
    for j in range(0, num-i):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [13]:
# 6) Multiplication table from 1 to 10

for num in range(1, 21):
    print("Multiplication Table for", num)
    for i in range(1, 11):
        product = num * i
        print(num, 'X', i, '=', product)
    print()

Multiplication Table for 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

Multiplication Table for 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

Multiplication Table for 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

Multiplication Table for 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

Multiplication Table for 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Multiplication Table for 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

Multiplication Table for 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

Multiplication Table for 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

Multiplication Table for 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

Multiplication Table for 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

Multiplication Table for 11
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

Multiplication Table for 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

Multiplication Table for 13
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

Multiplication Table for 14
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140

Multiplication Table for 15
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

Multiplication Table for 16
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
16 X 10 = 160

Multiplication Table for 17
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170

Multiplication Table for 18
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
18 X 10 = 180

Multiplication Table for 19
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

Multiplication Table for 20
20 X 1 = 20
20 X 2 = 40
20 X 3 = 60
20 X 4 = 80
20 X 5 = 100
20 X 6 = 120
20 X 7 = 140
20 X 8 = 160
20 X 9 = 180
20 X 10 = 200

In [14]:
# 7) Mean Median Mode From Given data set (Method - 1)


import math
# Calculating measures of centrality
data = [19, 28, 34, 36, 37, 43, 44, 44, 46, 47, 48, 51, 52, 54, 55, 55, 56, 59, 60, 62, 62, 65, 66, 68]
n = len(data)
print(n)
sum = 0
x = 0
while x < n:
    sum = data[x] + sum
    x += 1
mean = sum / n
print("Mean = ", mean)

# finding median of the data :

if n % 2 == 0:
    p = int(n/2)
    x = data[p-1]
    y = data[p]
    median = (x+y)/2
    print("Median = ", median)
else:
    p = int((n-1)/2)
    median = data[p-1]
    print("Median = ", median)

24
Mean =  49.625
Median =  51.5

In [15]:
# Find Mode :

data = [19, 28, 34, 36, 37, 43, 44, 44, 46, 47, 48, 51, 52, 54, 55, 55, 56, 59, 60, 62, 62, 65, 66, 68]
count = []
sort = []
for x in data:
    c = 0
    if x in sort:
        continue
    for y in data:
        if x == y:
            c += 1
    count.append(c)
    sort.append(x)
print("Count ", count)
print("mode ", sort)
mode = []
for g in range(len(count)):
    if count[g] == max(count):
        mode.append(sort[g])
print("Mode = ",mode)

Count  [1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1]
mode  [19, 28, 34, 36, 37, 43, 44, 46, 47, 48, 51, 52, 54, 55, 56, 59, 60, 62, 65, 66, 68]
Mode =  [44, 55, 62]

In [16]:
# 8) Mode From PI class method (Method - 2)

count = []
mode = []
for x in data:
    c = 0
    for y in data:
        if x == y:
            c += 1
            count.append(c)
            mode.append(x)
print("count", count)
print("mode", mode)
print(max(count))

ind = 0 # track index of values in count
res = []
for i in count:
    if i == max(count): # if value in count is max then fetch the value from mode
        z = mode[ind]
        if z not in res:
            res.append(z)
        ind += 1
    else:
        ind += 1
print(res)

count [1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1]
mode [19, 28, 34, 36, 37, 43, 44, 44, 44, 44, 46, 47, 48, 51, 52, 54, 55, 55, 55, 55, 56, 59, 60, 62, 62, 62, 62, 65, 66, 68]
2
[44, 55, 62]

In [17]:
# 9) Method - 3

data = [19, 28, 34, 36, 37, 43, 44, 44, 46, 47, 48, 51, 52, 54, 55, 55, 56, 59, 60, 62, 62, 65, 66, 68]
n = len(data)
#finding the mode
Count = []
mode = []
x=0
#to get an list with count of values
while x<n:
     y=data[x]
     u=data.count(y)
     Count.append(u)
     x+=1
print(Count)
max = max(Count)
x=0
mode_temp = []
#to get an array with all corresponding index values from 'data'
while x<n:
    if max==Count[x]:
        mode_temp.append(data[x])
        x += 1
    else:
        x += 1
        continue
print(mode_temp)
# To print mode without repeated values only once

for x in mode_temp:
    if x in mode:
        continue
    else:
        mode.append(x)
print(mode)

[1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1]
[44, 44, 55, 55, 62, 62]
[44, 55, 62]

In [18]:
# 10) Flight ticket 100 for each of the passengers except for age less than or equal 3 find total Total flight charge for all

group = [1, 2, 3, 5, 17, 23, 37, 43]
pay = []
none = []
total = 0
for i in group:
    if i <= 3:
        none.append(i)
    else:
        pay.append(i)
        total = total + 100
print("List of people with age more than 3 = ", pay)
print("List of people with age less than or equal to 3 = ", none)
print("Total flight Charge (100 RS each) = ", total)

List of people with age more than 3 =  [5, 17, 23, 37, 43]
List of people with age less than or equal to 3 =  [1, 2, 3]
Total flight Charge (100 RS each) =  500

In [19]:
# 11)  Given a list l1 = [10, 20, 30, 40, 50, 60], create an another list and print as [20, 30, 40, 50, 60, 10]

l1 = [10, 20, 30, 40, 50, 60]
box1 = []
a = 1
while a <= len(l1):
    if a == len(l1):
        box1.append(l1[0])
    else:
        box1.append(l1[a])
    a = a + 1
print(box1)

[20, 30, 40, 50, 60, 10]

In [20]:
# 12) Insert and Pop to Change the Index position on the list

# Example1

l1 = [10, 20, 30, 40, 50, 60]
l1.insert(0, l1.pop(2))
print(l1)

[30, 10, 20, 40, 50, 60]

In [21]:
# Example2

l1 = [10, 20, 30, 40, 50, 60]
l1.insert(0, l1.pop(4))
print(l1)

[50, 10, 20, 30, 40, 60]

In [22]:
# Example3

l1 = [10, 20, 30, 40, 50, 60]
l1.insert(3, l1.pop(5))
print(l1)

[10, 20, 30, 60, 40, 50]

In [23]:
# 12) Tiles and Box problem


roomfloar = 6*5 # In  Sq feet
eastwall = 6*5 # In  Sq feet
westwall = 6*5 # In  Sq feet
northtwall = 5*5 # In  Sq feet
door = 8*3 # In sq feet
doortail = 5*3 # In sq feet
southwall = 5*5 - doortail # In Sq feet
tailsize = 1.5*1 # In sq feet
box = 6*tailsize # In sq feet
totalarea = roomfloar+eastwall+westwall+northtwall+southwall # In sq feet
tails = totalarea/tailsize
totalbox = totalarea/box
print("Tiles size in Sq Feet = ",tailsize)
print("box of tails in Sq Feet = ",box)
print("Total area of tiles in Sq Feet = ",totalarea)
print("Total Number of box required = ",round(totalbox))
print("Total Number of tails required = ",tails)

Tiles size in Sq Feet =  1.5
box of tails in Sq Feet =  9.0
Total area of tiles in Sq Feet =  125
Total Number of box required =  14
Total Number of tails required =  83.33333333333333

In [25]:

# 12) Tiles and Box problem with all inputs

l = int(input("Enter the length of floor in feet = "))
w = int(input("Enter the width of floor in feet = "))
h = int(input("Enter the height for which tail is required= "))
h1 = int(input("Enter the height of the door in feet = "))
hd1 = h1-(h1-h)
print("Door Height for which tail is removed = ", hd1)
wd2 = int(input("Enter the width of the door in feet = "))
tl = int(input("Enter the tail length in inch = "))
tw = int(input("Enter the tail width in inch = "))
tlf = tl/12
print("Tail length in feet = ", tlf)
twf = tw/12
print("Tail width in feet = ", twf)
num1 = int(input("How many tails contained in box = "))
roomfloor = l*w # Area In  Sq feet
eastwall = l*h # Area In  Sq feet
westwall = l*h # Area In  Sq feet
northtwall = w*h # Area In  Sq feet
southwall = w*h # Area In  Sq feet
door = hd1*wd2 # Area In  Sq feet
tailsize = tlf*twf # Area In  Sq feet
box = num1*tailsize # Area In  Sq feet
totalarea = roomfloor+eastwall+westwall+northtwall+southwall-door # Total area of tails in sq feet
tails = totalarea/tailsize
totalbox = totalarea/box
print("Tiles size in Sq Feet = ",tailsize)
print("box of tails in Sq Feet = ",box)
print("Total area of tiles in Sq Feet = ",totalarea)
print(totalbox)
print("Total Number of box required = ",round(totalbox))
print("Total Number of tails required = ",tails)

Door Height for which tail is removed =  10
Tail length in feet =  2.5
Tail width in feet =  1.6666666666666667
Tiles size in Sq Feet =  4.166666666666667
box of tails in Sq Feet =  83.33333333333334
Total area of tiles in Sq Feet =  480
5.76
Total Number of box required =  6
Total Number of tails required =  115.19999999999999

In [26]:
l1 = [10, 20, 30, 40, 50, 60]
box1 = []
a = 1
while a <= len(l1):
    if a == len(l1):
        box1.append(l1[0])
    else:
        box1.append(l1[a])
    a = a + 1
print(box1)

q1 = [44, 55, 66, 77, 88, 99]
box2 = []
n = len(q1)
while n <= 5:
    if n == len(q1):
        box2.append(q1[n])
    else:
        box2.append(q1[len(q1)-n])
    n = n - 1
print(q1)


l2 = [7, 10, 12, 15]
l2.insert(0, l2.pop())
print(l2)

[20, 30, 40, 50, 60, 10]
[44, 55, 66, 77, 88, 99]
[15, 7, 10, 12]

In [27]:
#13) ==>> Fibonacci Series (Method-1)

x = int(input("Enter a Numer : "))
y = 2
n1 = 0
n2 = 1
if x == 0:
    pass
else:
    print("Fibonacci Series : ", n1, end= '')
    while y <= x:
        n3 = n1 + n2
        print(',', n2, end= ' ')
        n1 = n2
        n2 = n3
        y = y+1
print()

Fibonacci Series :  0, 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377 , 610 , 987 , 1597 , 2584 , 4181 , 6765 , 10946 , 17711 , 28657 , 46368

In [29]:
#14) ==>> Fibonacci Series (Method-2)

x = int(input("Enter a Numer : "))
n1, n2, y = 0, 1, 2
print("Fibonacci Series : ", n1, end=' ')
while(y <= x):
    n3 = n2 + n1
    print(',', n2, end = ' ')
    n1, n2 = n2, n3
    y = y+1
print()

Fibonacci Series :  0 , 1 , 1 , 2 , 3

In [30]:
#15) ==>> Fibonacci Series (Method-3)

x = int(input("Enter a Numer : "))
n1, n2, y = 0, 1, 2
fs = []
print("Fibonacci Series : ", n1, end=' ')
fs.append(n1)
while(y <= x):
    n3 = n2 + n1
    print(',', n2, end = ' ')
    n1, n2 = n2, n3
    y = y+1
print()
print(fs)

Fibonacci Series :  0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377 , 610 , 987 , 1597 , 2584 , 4181 , 6765 , 10946 , 17711 , 28657 , 46368
[0]

In [31]:
#16) ==>> Given a List Create a list of all even numbers and create a list of all odd numbers using for loop

l1 = [10,15,20,25,30,35,40,50]
even = []
odd = []
for i in l1:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[10, 20, 30, 40, 50]
[15, 25, 35]

In [32]:
#17) ==>> Given a List Create a list of all even numbers and create a list of all odd numbers using while loop

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
even = []
odd = []
ln = len(l1)
n = 0
while n < ln:
    if l1[n] % 2 == 0:
        even.append(l1[n])
    else:
        odd.append(l1[n])
    n = n + 1
print(even)
print(odd)

[2, 4, 6, 8, 0]
[1, 3, 5, 7, 9]

In [33]:
#18) ==>> Given a List Create a list of all even numbers and create a list of all odd numbers using List Comprehension

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
even = [x for x in l1 if x % 2 == 0]
odd = [x for x in l1 if x % 2 != 0]
print(even)
print(odd)

[2, 4, 6, 8, 0]
[1, 3, 5, 7, 9]

In [34]:
#19) Create Multiplication tables
y = int(input("Enter a Number : "))
l1 = [1,2,3,4,5,6,7,8,9,10]
mul = [x*y for x in l1]
print(mul)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [35]:
num1 = 5
for i in range(num1):
    print(i)

l1 = [44, 55, 66, 77, 88, 99]
for k in l1:
    print(k)


xi = [8, 12, 16, 20, 32]
for n in xi:
    print(n+1)

0
1
2
3
4
44
55
66
77
88
99
9
13
17
21
33

In [36]:
#20) Palindrome

a = int(input("Enter a Number : "))
b = a
rev = 0
while b > 0:
    d = b % 10
    rev = rev*10 + d
    b = b // 10
print("The reverse of the number is : ", rev)
if rev == a:
    print("The number", a, "is palindrome")
else:
    print("The number ", a, "is not a palindrome :")

The reverse of the number is :  3
The number 3 is palindrome